@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "Inter";
}

:root {
  --color-main-bg: #fff;
  --color-grey-300: #c5c6ce;
  --color-grey-200: #d8d8d8;
  --color-navy-950: #00001a;
  --color-navy-600: #5e607a;
  --color-gold-400: #e9aa52;
  --color-red-500: #f15d51;
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.9375rem;
  --font-size-7: 0.875rem;
  --font-weight-1: 800;
  --font-weight-2: 700;
  --font-weight-3: 400;
  --line-height-1: 3.5rem;
  --line-height-2: 2.5rem;
  --line-height-3: 2rem;
  --line-height-4: 1.5rem;
  --letter-spacing-1: 4.38px;
  --spacing-100: 0.5rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-800: 4rem;
  --spacing-1100: 5.5rem;
}

body {
  background-color: var(--color-main-bg);
}

.container {
  padding: var(--spacing-300) var(--spacing-300);
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-400);
}

.navbar__box {
  display: none;
}

.hero__box {
  padding-bottom: var(--spacing-800);
}

picture {
  margin-bottom: var(--spacing-300);
}

.big__title {
  color: var(--color-navy-950);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-1);
  margin-bottom: var(--spacing-300);
}

.big__description {
  color: var(--color-navy-600);
  font-size: var(--font-size-6);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-3);
  margin-bottom: var(--spacing-300);
}

.big__link {
  display: inline-block;
  color: var(--color-navy-950);
  background-color: var(--color-red-500);
  font-size: var(--font-size-7);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  letter-spacing: var(--letter-spacing-1);
  padding: 1rem var(--spacing-400);
  text-transform: uppercase;
}

.new__box {
  background-color: var(--color-navy-950);
  margin-bottom: var(--spacing-800);
  padding: var(--spacing-300);
}

.new__title {
  color: var(--color-gold-400);
  font-size: var(--font-size-3);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-2);
  margin-bottom: var(--spacing-400);
}

.news__title {
  color: var(--color-main-bg);
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-1);
  margin-bottom: var(--spacing-100);
}

.news__description {
  color: var(--color-grey-300);
  font-size: var(--font-size-6);
  line-height: var(--line-height-4);
  font-weight: var(--font-weight-3);
}

.news__box:not(:last-child)::after {
  content: "";
  width: 100%;
  background-color: var(--color-navy-600);
  height: 1px;
  display: block;
  margin: var(--spacing-400) 0;
}

.other__news {
  padding-bottom: var(--spacing-800);
  display: grid;
  gap: var(--spacing-400);
}

.other__box {
  display: flex;
  gap: var(--spacing-300);
}

.other__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other__number {
  color: var(--color-red-500);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-2);
}

.other__title {
  color: var(--color-navy-950);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-4);
}

.other__content > .news__description {
  color: var(--color-navy-600);
}

@media (min-width: 700px) {
  .new__box {
    padding: var(--spacing-400) var(--spacing-500);
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }

  .navbar__box {
    display: flex;
    list-style-type: none;
    gap: var(--spacing-500);
  }

  .navbar__link {
    font-size: var(--font-size-6);
    line-height: var(--line-height-4);
    font-weight: var(--font-weight-3);
    color: var(--color-navy-600);
  }

  .header__menu {
    display: none;
  }

  .big__title {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    align-self: start;
    margin-bottom: 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--spacing-800);
    column-gap: var(--spacing-400);
  }

  .header__box {
    grid-column: 1/4;
    padding: 0;
  }

  .hero__box {
    grid-column: 1/3;
  }

  .new__box {
    grid-column: 3/4;
  }

  .other__news {
    grid-column: 1/4;
  }

  .hero__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-400);
    padding: 0;
  }

  picture {
    grid-column: 1/3;
    margin: 0;
  }

  picture img{
    height: 100%;
  }

  .big__description,
  .big__link {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .big__link {
    max-width: fit-content;
    max-height: fit-content;
    align-self: end;
  }

  .other__news {
    grid-template-columns: repeat(3, 1fr);
  }

  .new__box {
    margin-bottom: 0;
  }
}
